.login-clean form {
  padding: 0px;
}

.login-clean form p {
  margin-top: -15px;
}

.login-clean form .create-account {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #1D8BC6;
}

h3.form-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #125A90;
}

.login-clean form label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #233750;
  margin: 0;
}

.login-clean form .input-group {
  background: #FFFFFF;
  border: 1px solid #ABBED3;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 4px;
  height: 42px;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.form-control, .input-group-text {
  border: none;
  background-color: #FFFFFF;
}

.input-group-text {
  color: #DADADA;
}

input {
  filter: none;
}

::-webkit-input-placeholder { /* Edge */
  font-family: 'Roboto', sans sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #ABB3BC;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Roboto', sans sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ABB3BC;
}

::placeholder {
  font-family: 'Roboto', sans sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ABB3BC;
}

/*
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  background-color: #f7f9fc !important;
  -webkit-box-shadow: 0 0 0 100px #f7f9fc inset;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}
*/

.login-clean form .btn-primary {
  background: #1D8BC6;
  border: none;
  border-radius: 2px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #2c6f9c;
}

.login-clean form .forgot {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #858E99;
  text-decoration: none;
}

.login-clean form .backToConnexion {
  color: #1D8BC6;
  font-size: 14px;
  line-height: 22px;
  margin-top: -10px;
  letter-spacing: 0.25px;
  text-align: center;
  text-decoration: underline;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-clean form .intro-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #536377;
  letter-spacing: 0.15px;
  margin-bottom: 25px;
}

.login-clean .lead {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-bottom: 40px;
  color: #536377;
}

.login-clean .cqgc-color-logo {
  height: 5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.list-group.sponsorsTop {
  margin-top: 30px;
  padding-bottom: 20px;
}

.list-group-item {
  padding: 0 45px 0 0;
  background-color: transparent;
  border: none;
}

.alertMessageTitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #233750;
  display: block;
  margin-bottom: 5px;
}

.dangerMessage {
  background: #FFF1F0;
  border: 1px solid #FFA39E;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #536377;
  padding-right: 18px;
}

.successMessage {
  background: #F6FFED;
  border: 1px solid #B7EB8F;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #536377;
  padding-right: 18px;
}

.login-clean .partenaire {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}

.login-clean .partenaire .partner-img {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}

/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

@media (max-width: 991px) {
  .cqgc-color-logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-top: 0 !important;
  }

  .login-clean .lead {
    margin-bottom: 0;
  }

  form.m-5 {
    margin: 30px 15px 30px 15px !important;
  }

  .form-group, .intro-text, .form-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  ::placeholder {
    font-size: 14px;
    line-height: 21px;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: 14px;
    line-height: 21px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
    line-height: 21px;
  }

}

@media (max-width: 767px) {
  ::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: 16px;
    line-height: 24px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
    line-height: 24px;
  }
  .cqgc-color-logo {
    max-width: 275px;
    width: 100%;
    height: auto;
    margin-top: 10px !important;
  }
  
  .pl-5 {
    padding-left: 2rem
  }
  .about {
    padding-right: 50px!important;
  }

  .login-clean .lead {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .list-group {
    display: inline-block;
  }
  .sponsorsGrid {
    margin-left: auto;
    margin-right: auto;
  }
  .sponsorsGrid img {
    width: 100%;
    height: auto;
  }
}